<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1">
<groups>
<run>
<include name="main"/>
<include name="side"/>
</run>
</groups>
<parameter name="useremail" value="8939756308"/>
<parameter name="password" value="8939756308"/>


  <test thread-count="5" name="Test1">
    <classes>
      <class name="Framework.E2ETesting.WorkingTest"/>
    </classes>
  </test> <!-- Test -->
  <listeners>
<listener class-name= "Framework.E2ETesting.Listeners">
<listener class-name="Framework.E2ETesting.AnnotationTransformer"/>
<listener class-name="Framework.E2ETesting.Ireporter"/>
</listener>
</listeners>
  <test name="Test2">
  <classes>
  <class name="Framework.E2ETesting.DummyTest"/>
  </classes>
  
  </test>
  
</suite> <!-- Suite -->
